/* General */
* {
    font-family: 'Josefin Sans', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
    background-color: rgb(255, 226, 231);
}

/* Container */

.main-container{
    margin: 0;
    padding: 10px 20px;
}

h1{
    margin: 20px auto;
    padding: 10px;
    font-size: 3rem;
    user-select: none;
    text-align: center;
}

/* Search */

.search-area{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px 50px;
}

.search-area > * {
    font-size: 25px;
}

#item-txt-field{
    grid-column: 1/6;
}

#done-btn{
    grid-row: 2/3;
    grid-column: 1/4;
}

#clear-btn{
    grid-row: 2/3;
    grid-column: 4/6;
}

/* Data */

#data-table{
    border: 3px solid rgb(119, 89, 252);
    padding: 10px;
    background-color: rgb(205, 194, 255);
    border-radius: 4px;
}

/* Styling */

.field{
    border: 3px solid palevioletred;
    border-radius: 5px;
    min-width: 20px;
    height: 35px;
}
.field:focus{
    outline: none;
}

.button{
    border: 5px solid palevioletred;
    border-left-color: rgb(235, 177, 196);
    border-top-color: rgb(235, 177, 196);
    background-color: rgb(255, 226, 231);
    border-radius: 100px;
    height: 50px;
}

.button:hover{
    background-color: white;
    cursor: pointer;
}

.button:active{
    border: 5px solid rgb(235, 177, 196);
    border-left-color: palevioletred;
    border-top-color: palevioletred;
    background-color: rgb(126, 95, 105);
    color: white;
}

.gray {
    color:gray;
}

li{
    list-style: none;
}